services:
  - type: web
    name: june-be
    env: node
    plan: free
    region: oregon
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: PGSSL
        value: "true"
    healthCheckPath: /health
    runtime: docker
    dockerContext: .
    dockerfilePath: ./Dockerfile
